// COLORS
$bg-color-grey: #ddd;
$color-black: #000;
$bg-color-light-grey: #fafafa;
$bg-color-dark-grey: #dde3ee;
$bg-color-blue: #232545;

$txt-color-primary: #6d6e6d;
$txt-color-white: #fff;
$txt-color-dark: #373e59;

$color-orange: #ec9022;
